- model_class = Kepart
- content_for :page_title, "Ｂ部品台帳表示"
%table
  %tr
    %td
      = paginate @keparts, window: 4, outer_window: 5, left: 1, right: 3

%table.center-table.radius-table{width: "99%", align:"center"}
  %thead.bg-primary.text-primary-content
    %tr.headline
      %th{style: 'width:30px'}= model_class.human_attribute_name(:id)
      %th{style: 'width:30px'}= 'id'
      %th{style: 'width:90px'}= model_class.human_attribute_name(:pcode)
      %th= model_class.human_attribute_name(:form)
      %th= model_class.human_attribute_name(:size)
      %th= model_class.human_attribute_name(:jname)
      %th= model_class.human_attribute_name(:price)+'(円)'
      %th= model_class.human_attribute_name(:stock)
      %th= model_class.human_attribute_name(:sel_unit)
      %th= model_class.human_attribute_name(:weightkg)
      %th= model_class.human_attribute_name(:munit)
      %th= model_class.human_attribute_name(:itemno)
      %th= model_class.human_attribute_name(:cordno)
      %th= model_class.human_attribute_name(:comment)
      %th.datej= model_class.human_attribute_name(:updated_at)
  %tbody
    - @keparts.each_with_index do |kepart, i|
      %tr
        %td{style: 'text-align:center'}= i+1
        %td{style: 'text-align:center'}= link_to kepart.id, kepart_path(kepart)
        %td= link_to kepart.pcode, kepart_path(kepart)
        %td= kepart.form
        %td= kepart.size
        %td= kepart.jname
        %td{style: 'text-align:right'}= kepart.price.to_s.gsub(/(\d)(?=(\d{3})+(?!\d))/, '\1,')
        %td= kepart.stock
        %td= kepart.sel_unit
        %td= kepart.weightkg
        %td= kepart.munit
        %td= kepart.itemno
        %td= kepart.cordno
        %td= kepart.comment
        %td= kepart.updated_at.strftime('%Y/%m/%d %H:%M')

%br

= link_to 'New Kepart', new_kepart_path
