- model_class = Part
- content_for :page_title, "Ａ部品台帳表示"
%table
  %tr
    %td
      = paginate @parts, window: 4, outer_window: 5, left: 1, right: 3
%table.center-table.radius-table{width: "99%", align:"center"}
  %thead.bg-primary.text-primary-content
    %tr.headline
      %th{style: 'width:30px'}= model_class.human_attribute_name(:id)
      %th{style: 'width:30px'}= 'id'
      %th{style: 'width:90px'}= model_class.human_attribute_name(:pcode)
      %th= model_class.human_attribute_name(:form)
      %th= model_class.human_attribute_name(:jname)
      %th= model_class.human_attribute_name(:ename)
      %th= model_class.human_attribute_name(:stock)
      %th= model_class.human_attribute_name(:sel_unit)
      %th= model_class.human_attribute_name(:price)
      %th= model_class.human_attribute_name(:newprice)+'(円)'
      %th= model_class.human_attribute_name(:weightkg)
      %th= model_class.human_attribute_name(:munit)
      %th= model_class.human_attribute_name(:itemno)
      %th= model_class.human_attribute_name(:cordno)
      %th= model_class.human_attribute_name(:comment)
      %th.datej= model_class.human_attribute_name(:updated_at)
      %th.datej= model_class.human_attribute_name(:created_at)
  %tbody
    - @parts.each_with_index do |part, i|
      %tr
        %td{style: 'text-align:center'}= i+1
        %td{style: 'text-align:center'}= link_to part.id, part_path(part)
        %td= link_to part.pcode, part_path(part)
        %td= part.form
        %td= part.jname
        %td= part.ename
        %td= part.stock
        %td{style: 'text-align:right'}= part.sel_unit
        %td{style: 'text-align:right'}= part.price.to_s.gsub(/(\d)(?=(\d{3})+(?!\d))/, '\1,')
        %td{style: 'text-align:right'}= part.newprice.to_s.gsub(/(\d)(?=(\d{3})+(?!\d))/, '\1,')
        %td= part.weightkg
        %td= part.munit
        %td= part.itemno
        %td= part.cordno
        %td= part.comment
        %td= part.updated_at.strftime('%Y/%m/%d %H:%M')
        %td= part.created_at.strftime('%Y/%m/%d %H:%M')

= link_to '新規作成', new_part_path, class: 'btn btn-primary'
= paginate @parts, window: 4, outer_window: 5, left: 1, right: 3
