%h1 ユーザ追加
.container
  = form_with model: @user, url: sign_up_path do |form|
    - if form.object.errors.any?
      %div
      Error: #{form.object.errors.full_messages.first}
    %table.center-table.radius-table
      %thead.neutral
        %tr
          %th.bg-primary.text-primary-content= form.label :email_address
          %td.text-primary-content{width:"380px"}= form.email_field :email_address, required: true, autocomplete: "email", autofocus: true
        %tr
          %th.bg-primary.text-primary-content= form.label :password
          %td= form.password_field :password, required: true, autocomplete: "new-password"
        %tr
          %th.bg-primary.text-primary-content= form.label :password_confirmation
          %td= form.password_field :password_confirmation, required: true, autocomplete: "new-password"
        %tr
          %td
          %td= form.submit "登録", class: "btn btn-primary"
        %tr
          %td
          %td= link_to "すでにアカウントをお持ちの方は利用開始", new_session_path, class: "link link-primary text-sm"
