- row_bg = order.orderitem.to_s.include?('（受注）') ? '#e0f4ff' : '#f0f0f0'
- td_style = "background-color: #{row_bg};"
%tr{style: "background-color: #{row_bg};"}
  %td{style: td_style}
    = link_to order.mno, order_path(id: order.id)
  %td{style: "#{td_style}text-align:right"}
    = link_to order.adlist_id.to_s, "/orders?keykind=companyid&keyword=#{order.adlist_id}"
  %td{style: td_style}
    - dp = ''
    - adlist = Adlist.find_by(no: order.adlist_id.to_s)
    - if adlist
      - dp << adlist.company if adlist.company
      - dp << ' '+adlist.section if adlist.section
      = link_to dp, adlist
  %td{style: td_style}= order.etype
  %td{style: td_style}
    = link_to(order.engno, "/orders?engno=#{order.engno}") if order.engno
  %td{style: td_style}
    = link_to(order.shipname, "/orders?shipname=#{order.shipname}") if order.shipname
  %td{style: td_style}= order.country
  %td{style: "#{td_style}text-align:right"}= order.pnum
  %td{style: td_style}= order.orderitem
  %td{style: td_style}= order.ono
  %td{style: td_style}= order.memo
  %td{style: td_style}
    - disp = ' '
    - disp << order.tc if order.tc
    - disp << ' '+order.tcno if order.tcno
    - disp << ' '+order.zp if order.zp
    - disp << ' '+order.zpno if order.zpno
    - disp << ' '+order.glc if order.glc
    - disp << ' '+order.glcno if order.glcno
    - disp << ' '+order.mg if order.mg
    - disp << ' '+order.mgno if order.mgno
    = disp
