%table.center-table.radius-table{width: "99%", align:"center"}
  %thead
    %tr.headline
      - para = nil
      - para1 = "&keyword=#{session[:keyword]}" if session[:keyword]
      - para2 = "&keykind=#{session[:keykind]}" if session[:keykind]
      - para3 = "&shipname=#{session[:shipname]}" if session[:shipname]
      - para4 = "&engno=#{session[:engno]}" if session[:engno]
      - para = para1 if para1
      - para = para + para2 if para2
      - para = para3 if para3
      - para = para4 if para4
      - if para
        - if para =~/keyword/
          %th{width:"95px"}= link_to '取管No.↑↓', "/orders?mno_order=#{session[:mno_order]} ",  class: "btn wtext btn-info"
        - else
          %th{width:"95px"}= link_to '取管No.↑↓', "/orders?mno_order=#{session[:mno_order]}#{para}",  class: "btn wtext btn-info"
      - else
        %th{width:"95px"}= link_to '取管No.↑↓', "/orders?mno_order=#{session[:mno_order]} ",  class: "btn wtext btn-info"
      %th{width:"50px"}  取引先No.
      %th{width:"210px"}   取引先
      %th 型式
      %th 機番
      %th 船名
      %th{width:"45px"} 船籍
      %th{width:"45px"} 点数
      %th 件名
      %th 客先注文番号
      %th 内容
      %th Tc Tcno Zp Zpno Glc Glcno Mg Mgno
  %tbody
    = render @orders
