-user=User.find(user_profile.user_id)
%tr{data: {controller: "row-link", 
  row_link_url_value: user_profile_path(user), 
  action: "click->row-link#navigate"},
  class: user.user_profile.role_color_class}
  %td
    = user.id
  %td
    = user.email_address
  %td
    -if user_profile
      = user.user_profile.lastname
  %td
    -if user_profile
      = user.user_profile.firstname
  %td
    -if user_profile
      = user_profile.state
  %td
    -if user_profile
      -if user_profile.sign_in_at
        = user_profile.sign_in_at.strftime("%Y/%m/%d %H:%M")
  %td
    -if user_profile
      -if user_profile.sign_out_at
        = user_profile.sign_out_at.strftime("%Y/%m/%d %H:%M")
  %td
    = user_profile.created_at.strftime("%Y/%m/%d %H:%M")
  %td
    = user_profile.updated_at.strftime("%Y/%m/%d %H:%M")
  %td
    = user.created_at.strftime("%Y/%m/%d %H:%M")
  %td
    = user.updated_at.strftime("%Y/%m/%d %H:%M")
