= form_for @registry do |f|
  - if @registry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@registry.errors.count, "error")} prohibited this registry from being saved:"
      %ul
        - @registry.errors.full_messages.each do |msg|
          %li= msg

  %table.center-table.radius-table{align: "center"}
    %tr
      %th.bg-primary.text-primary-content ＃
      %td= @registry.countryid
    %tr
      %th.bg-primary.text-primary-content 国籍
      %td= f.text_field :country, class: "input input-bordered"
    %tr
      %th.bg-primary.text-primary-content Rate
      %td= f.text_field :rate, class: "input input-bordered"
    %tr
      %th.bg-primary.text-primary-content 削除日時
      %td
        - if @registry.deleted_at
          = @registry.deleted_at.strftime("%Y-%m-%d %H:%M")
          &nbsp;
          = f.check_box :clear_deleted, {}, "1", "0"
          削除を取り消す
        - else
          （未削除）

  %p{style: "text-align:center"}
    = f.submit '保存'
