%h1{style: "text-align:center"} 船籍編集

= render 'form'

%div{style: "text-align:center"}
  = link_to '詳細', @registry
  &nbsp;|&nbsp;
  = form_tag soft_delete_registry_path(@registry), method: :patch, style: "display:inline", data: { turbo: false } do
    = submit_tag '削除', onclick: "return confirm('削除しますか？')"
  &nbsp;|&nbsp;
  = link_to '一覧へ', registries_path
