%p#notice= notice

%table.center-table.radius-table{align: "center"}
  %tr
    %th.bg-primary.text-primary-content ＃
    %td= @registry.countryid
  %tr
    %th.bg-primary.text-primary-content 国籍
    %td= @registry.country
  %tr
    %th.bg-primary.text-primary-content Rate
    %td= @registry.rate
  %tr
    %th.bg-primary.text-primary-content 削除日時
    %td= @registry.deleted_at&.strftime("%Y-%m-%d %H:%M")
  %tr
    %th.bg-primary.text-primary-content 登録日時
    %td= @registry.created_at.strftime("%Y-%m-%d %H:%M")
  %tr
    %th.bg-primary.text-primary-content 更新日時
    %td= @registry.updated_at.strftime("%Y-%m-%d %H:%M")

%br

%div{style: "text-align:center"}
  = link_to '編集', edit_registry_path(@registry)
  &nbsp;|&nbsp;
  = form_tag soft_delete_registry_path(@registry), method: :patch, style: "display:inline", data: { turbo: false } do
    = submit_tag '削除', onclick: "return confirm('削除しますか？')"
  &nbsp;|&nbsp;
  = link_to '一覧へ', registries_path
