= form_for(@adlist) do |f|
  - if @adlist.errors.any?
    #error_explanation
      %h2
        = pluralize(@adlist.errors.count, "error")
        prohibited this adlist from being saved:
      %ul
        - @adlist.errors.full_messages.each do |msg|
          %li= msg
  %table.table-bordered.table-condensed{width: "99%", align:"center"}
    %tr{bgcolor: "#e3e3e3"}
      %th.title{width:"100px"} よみがな
      %td= f.text_field :ruby, size:"36", placeholder:"必須"
      %th.title{width:"100px"} 取引先No.
      %td= @adlist.no
      %th.title{width:"130px"} あいうえお順キー
      %td= f.text_field :kbn, size:"3", placeholder:"カタカナで"
    %tr
      %th.title{width:"100px"} 会社名
      %td= f.text_field :company, size:"36", placeholder:"会社名または個人名必須"
      %th.title{width:"100px"} 部署
      %td= f.text_field :section, size:"36", placeholder:"同一会社で部署の区別が必要なら入力"
      %th.title{width:"100px"} 部署２
      %td= f.text_field :section2, size:"36", placeholder:"さらに詳細に区別が必要なら入力"
  %table.table-bordered.table-condensed{width: "99%", align:"center"}
    %tr{bgcolor: "#e3e3e3"}
      %th.title{width:"100px"} 会社郵便番号
      %td= f.text_field :cozip7, size:"8", placeholder:"xxx-xxxx"
      %th.title{width:"100px"} 会社住所１
      %td= f.text_field :coad1, size:"36", placeholder:"都道府県市区町村 郵便番号で決まる住所"
      %th.title{width:"100px"} 会社住所２
      %td= f.text_field :coad2, size:"36", placeholder:"詳細表示 丁目 番地 号"
      %th.title{width:"100px"} 会社住所３
      %td= f.text_field :coad3, size:"36", placeholder:"ビル名部屋名.."
  %table.table-bordered.table-condensed{width: "99%", align:"center"}
    %tr
      %th.title{width:"100px"} 会社メール
      %td= f.text_field :comail, size:"36", placeholder:"xxxx..xx@xxx.xxx"
      %th.title{width:"100px"} 会社tel️
      %td= f.text_field :cotel, size:"36", placeholder:"0xx-xxxx-xxxx"
      %th.title{width:"100px"} 会社fax
      %td= f.text_field :cofax, size:"36", placeholder:"0xx-xxx-xxxx"
    %tr{bgcolor: "#e3e3e3"}
      %th.title{width:"100px"} 会社携帯
      %td= f.text_field :comobile, size:"36", placeholder:"0xx-xxx-xxxx"
      %th.title{width:"100px"} 会社url
      %td= f.text_field :courl, size:"36", placeholder:"http://xxxxx/xxxxx.."
      %th.title{width:"100px"} 新潟送り状コード
      %td= f.text_field :copok, size:"36", placeholder:"新潟送り状コードがあれば"
    %tr
      %th.title{width:"100px"} メモ
      %td{colspan: "5"}= f.text_area :memo, size:"320x4", style:"width: 400px"
    %tr{bgcolor: "#e3e3e3"}
      %th.title{width:"100px"} 名前
      %td= f.text_field :name, size:"36", placeholder:"代表者名"
      %th.title{width:"100px"} 役職
      %td= f.text_field :position, size:"36", placeholder:"〇〇部長.."
  %table.table-bordered.table-condensed{width: "99%", align:"center"}
    %tr
      %th.title{width:"100px"} 郵便番号
      %td= f.text_field :zip7, size:"8", placeholder:"xxx-xxxx"
      %th.title{width:"100px"} 住所１
      %td= f.text_field :address1, size:"36", placeholder:"都道府県市区町村 郵便番号で決まる住所"
      %th.title{width:"100px"} 住所２
      %td= f.text_field :address2, size:"36", placeholder:"詳細表示 丁目 番地 号"
      %th.title{width:"100px"} 住所３
      %td= f.text_field :address3, size:"36", placeholder:"ビル名部屋名.."
  %table.table-bordered.table-condensed{width: "99%", align:"center"}
    %tr{bgcolor: "#e3e3e3"}
      %th.title{width:"100px"} メール
      %td= f.text_field :email, size:"36", placeholder:"xxxx..xx@xxx.xxx"
      %th.title{width:"100px"} tel
      %td= f.text_field :tel, size:"36", placeholder:"0xx-xxx-xxxx"
      %th.title{width:"100px"} fax
      %td= f.text_field :fax, size:"36", placeholder:"0xx-xxx-xxxx"
    %tr
      %th.title{width:"100px"} 携帯
      %td= f.text_field :mtel, size:"36", placeholder:"0xx-xxx-xxxx"
      %th.title{width:"100px"} url
      %td= f.text_field :url, size:"36", placeholder:"http://xxxxx/xxxxx.."
  .actions
    = f.submit
