関係先一覧
- unless @keyword
  = paginate @adlists, window: 4, outer_window: 5, left: 1, right: 3
%table.center-table.radius-table{width: "99%", align:"center"}
  %thead.bg-primary.text-primary-content
    %tr.headline
      %th.idw ＃
      %th.idw No.
      - if @new_order == 'on'
        %th.title{width:"100px"}
          新規注文登録
      %th
        よみ　/　名前
      %th 部署
      %th 新潟7桁
      %th
        郵便番号　/　住所
      %th{width:"200px"}
        TEL　/　FAX
      %th.datej 作成日
      %th.datej 更新日
  %tbody
    - @adlists.each_with_index do |adlist,i|
      %tr
        %td{style:'text-align:right'}= i + 1
        %td{style:'text-align:right'}= link_to adlist.no, orders_path + "?keyword=#{adlist.no}&keykind=companyid"
        - if @new_order == 'on'
          %td
            %form{method:"post", action: "#{orders_ocopy_path}", name: "order_o_copy"}
              %input{type: "submit", value: "新規注文登録", class: "btn wtext btn-info"}
              = hidden_field_tag('adlist_id', adlist.no)
              = hidden_field_tag('authenticity_token', form_authenticity_token)
        %td
          = link_to adlist.ruby, adlist
          %br/
          - cname = adlist.company || adlist.name
          = link_to cname, adlist

        %td= (adlist.section ? adlist.section : ' ') << (adlist.section2 ? adlist.section2 : ' ')
        %td= adlist.copok
        %td
          = adlist.cozip7
          = (adlist.coad1 ? adlist.coad1 : ' ') << (adlist.coad2 ? adlist.coad2 : ' ') << (adlist.coad3 ? adlist.coad3 : ' ')
        %td
          = adlist.cotel
          = h adlist.cofax
        %td= adlist.created_at.strftime("%Y/%m/%d %H:%M")
        %td= adlist.updated_at.strftime("%Y/%m/%d %H:%M")
  %br/
= link_to '新規作成', new_adlist_path, class: 'btn btn-primary'
- unless @keyword
  = paginate @adlists, window: 4, outer_window: 5, left: 1, right: 3
