!!!
%html{"data-theme" => "mytheme"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "K2"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "k", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body
  .navbar.bg-accent
    %a.btn.btn-ghost.normal-case.text-xl ようこそ
    -if authenticated? 
      -user = User.find(Current.user.id)
      =link_to "#{Current.user.email_address}さん", user_path(user)
      -if user.user_profile
        -if user.user_profile.read_attribute_before_type_cast(:state) > 1
          .bg-secondary 管理者 
          = link_to "[ユーザ一覧]", users_path
      .bg-primary
        = button_to "利用終了", session_path, method: :delete
    -else
      %a.btn.btn-ghost.normal-case.text-xl
      = link_to "Sign Up", new_user_path 
    .flex-none
      %ul.menu.menu-horizontal.px-4
        %li
          = link_to "Home", welcom_index_path
        %li
          %a About
        %li
          %a Contact
  = tag.div(flash[:alert], style: "color:red") if flash[:alert]
  = tag.div(flash[:notice], style: "color:green") if flash[:notice]
  = yield
